
<div class="container">
  <h1> Coach's answer </h1>
  <p> -------------------------------------------- </p>
  <br>
  <div class = "question">
    <p><%= @question %></p>
    <p> <em> - You </em> </p>
  </div>
  <br>
  <p> -------------------------------------------- </p>
  <br>
  <div class = "answer">
    <p><%= @answer %></p>
    <p> <em> - Your Coach </em> </p>
  </div>
  <br>
  <p> -------------------------------------------- </p>
  <br>
  <p><%= link_to "Ask a new question", ask_path %> </p>
</div>
