<div class="container d-flex align-items-center justify-content-center vh-100">
  <form action="/answer" data-turbo="false" >
    <input type="text" name="question" placeholder="What's your message?">
    <input type="submit" value="submit">
  </form>
</div>
